@media (width <= 800px) {
  .list {
    .table-header-t:nth-child(4) {
      display: block;
      width: 4rem;
      text-align: center;
    }

    .table-line {
      p:nth-child(4) {
        display: block;
        width: 4rem;
        text-align: center;
      }

      p:nth-child(3) {
        font-size: 1rem;
      }
    }
  }
}

@media (width <= 420px) {
  .list {
    .table-header-t:nth-child(2) {
      width: 10rem;
    }

    .link {
      width: 10rem;

      // a {
      //   font-size: 0.8rem;
      // }
    }
  }
}

.list {
  h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    padding-top: 0.5rem;
    text-align: center;
  }

  .table {
    margin-top: unset;
  }
}
