main {
  & > h2 {
    padding-bottom: 0.4rem;
    text-align: center;
  }

  .pm-error {
    margin-top: 1rem;
    color: red;
    text-align: center;
  }
}

.pm-info {
  h2 {
    text-align: center;
  }

  div {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  div:nth-child(1) {
    p {
      padding: 0 1rem;
    }
  }

  div:nth-child(2) {
    p {
      padding: 0 0.5rem;
    }
  }

  button {
    width: 300px;
    height: 30px;
    font-size: larger;
    border: 1px solid #1b1b1b80;
    border-radius: 5px;

    &:hover {
      font-weight: 800;
      background-color: rgb(97 161 153 / 20%);
    }
  }
}

.timer {
  padding: 1rem 0;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 17rem;
    height: 3rem;
    padding: 0 0.5rem;
    margin: 0 auto;
    border: 3px solid rgb(97 161 153 / 50%);
    border-radius: 5px;

    p {
      font-size: 1rem;
      font-weight: 800;
    }
  }
}

.pmq {
  max-width: 700px;
  margin: 0 auto;

  p {
    font-size: 1.25rem;
    white-space: pre-line;
  }

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .answer {
    p {
      padding: 0.2rem 0;
      word-wrap: break-word;

      span {
        font-weight: 800;
      }
    }

    .answer-source-many {
      font-weight: 800;
    }
  }

  .pmq-choice-btn {
    display: flex;
    justify-content: center;

    button:first-child {
      margin-right: 1rem;
    }

    button:last-child {
      margin-left: 1rem;
    }
  }

  .pmq-is-answered {
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
  }

  & > .btn-elem {
    margin-top: 1.2rem;
  }

  .question-add {
    padding-top: 0.5rem;

    & > p {
      padding-left: 0.5rem;
      color: rgb(87 85 85);
    }

    & div {
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      img {
        max-width: 60%;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }

  .message-to-q {
    text-align: center;
  }
}

.resblock {
  p {
    text-align: center;

    span {
      padding-left: 1rem;
      font-weight: 800;
    }
  }
}

.tour-end {
  .btn-elem {
    padding-top: 0.8rem;
  }
}

.tour-end-tbl {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;

  .tour-end-tbl-el:first-child {
    border-left: 2px solid rgb(27 27 27 / 40%);
  }

  .tour-end-tbl-el:last-child {
    border-right: 2px solid rgb(27 27 27 / 40%);
  }

  .tour-end-tbl-el {
    cursor: pointer;
    border-top: 2px solid rgb(27 27 27 / 40%);
    border-right: 2px solid rgb(27 27 27 / 40%);
    border-bottom: 2px solid rgb(27 27 27 / 40%);

    &:hover {
      font-weight: bold;
      background-color: rgb(97 161 153 / 20%);
    }

    div:first-child {
      display: table-cell;
      width: 2rem;
      height: 2rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      border-bottom: 2px solid rgb(27 27 27 / 40%);
    }

    div:last-child {
      width: 2rem;
      height: 2rem;

      img {
        width: 2rem;
      }
    }
  }
}

.end-tournament {
  .btn-elem {
    padding-top: 0.8rem;
  }

  & > p {
    padding-top: 0.5rem;
    text-align: center;
  }
}
