.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 1000;

  .modal-content {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
}
