.container {
	display: flex;
	justify-content: center;
	align-items: center;

	.arrow {
		svg {
			cursor: pointer;
			color: var(--p-color);
		}
	}

	.dots {
		color: var(--p-color);
		font-size: 1.25rem;
		min-width: 1rem;
		text-align: center;
	}

	.page {
		font-size: 1.25rem;
		width: 1.5rem;
		-webkit-user-select: none;
		user-select: none;
		text-align: center;
		cursor: pointer;
		margin: 0 0.5rem;
		color: var(--p-color);

		&:hover {
			font-weight: bold;
		}

		&.active {
			font-weight: bold;
			border-bottom: var(--main-border);
		}
	}
}
