.main-content {
  display: flex;
  margin-top: 1rem;

  .main-content-random {
    width: 50%;

    .main-content-refresh {
      display: flex;

      .refresh {
        display: flex;
        cursor: pointer;

        & div {
          width: 1.6rem;
          margin-left: 1rem;

          .refresh-arrow {
            transition: all 1s;

            &.r {
              transform: rotate(-360deg);
            }
          }
        }
      }
    }
  }
}

@media (width <= 800px) {
  .main-content {
    flex-direction: column;

    .main-content-random {
      width: 100%;
    }

    .main-content-right {
      width: 100%;

      .main-content-tournaments {
        margin-left: unset;
      }

      .main-content-banner {
        margin-left: unset;
      }
    }
  }
}

.main-content-right {
  width: 50%;

  .main-stats {
    p {
      text-align: center;
    }
  }
}

.main-content-tournaments {
  padding-top: 0.9rem;
  margin-left: 2rem;

  .tournaments-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0.2rem;

    h3:last-child {
      padding-right: 0.25rem;
    }
  }

  .tournaments-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--main-border);

    &:hover {
      background-color: var(--a-main-list-bg-color);
    }

    a {
      padding: 0.5rem 0;
      font-size: 1.3rem;
      color: var(--a-main-list-color);
      cursor: pointer;
    }

    h5 {
      width: 85px;
      color: var(--a-main-list-color);
    }
  }

  .tournaments-footer {
    display: flex;
    justify-content: center;
    padding-top: 0.4rem;

    div {
      width: 1.6rem;

      img {
        cursor: pointer;
      }
    }

    p {
      margin: auto 1rem;
      font-size: 1.25rem;
    }
  }
}

.main-content-banner {
  padding: 1.2rem;
  margin-top: 1rem;
  margin-left: 2rem;
  background: var(--banner-gradient);
  border: 3px solid var(--main-border-color);
  border-radius: 20px;

  h2 {
    text-align: center;
  }

  p {
    padding: 1rem 0;
    text-align: center;
  }
}
