.tournament-header {
  h3 {
    padding: 1rem 0;
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }

  .tournament-header-t {
    display: flex;
    padding-bottom: 1rem;

    a {
      padding-left: 1rem;
    }
  }

  .tournament-header-m {
    display: flex;

    h3:nth-child(n + 2) {
      padding-left: 3rem;
    }
  }
}
