.header {
	h3 {
		padding: 0.25rem 0;
		font-weight: bold;

		span {
			font-weight: normal;
		}
	}
}

.title {
	display: flex;
	padding-bottom: 0.5rem;

	a {
		padding-left: 1rem;
	}
}

.info {
	p {
		font-size: 1rem;
		span {
			font-weight: bold;
		}
	}
}
