.container {
	display: flex;
	margin-top: 1rem;
}

.rightSide {
	width: 50%;
}

.banner {
	padding: 1.2rem;
	margin-top: 1rem;
	margin-left: 2rem;
	background: var(--banner-gradient);
	border: 3px solid var(--main-border-color);
	border-radius: 20px;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;

	p {
		padding: 1rem 0;
	}
}

@media (width <= 800px) {
	.container {
		flex-direction: column;
	}

	.rightSide {
		width: 100%;
	}

	.banner {
		margin-left: unset;
	}
}
