.pr-wrapper > div {
  display: flex;

  & > p {
    font-size: 1.25rem;
  }

  & > p:nth-child(2n + 1) {
    // font-family: Rubik-Semibold;
    font-weight: bold;
    width: 20rem;
    text-align: left;
  }
}

.pr-wrapper {
  border: 3px solid #1b1b1b80;
  border-radius: 20px;
  padding: 1rem;
}

.pr {
  text-align: center;
  padding: 1rem 20% 0;

  button {
    margin-top: 0.5rem;
    width: 12rem;
    font-size: 1.25rem;
    border: 1px solid #1b1b1b80;
    border-radius: 5px;
    background-color: rgb(97 161 153 / 10%);

    &:hover {
      font-weight: 800;
      background-color: rgb(97 161 153 / 20%);
    }
  }
}

.pr-pass {
  padding: 20px 40px;
  background-color: white;
  border: 2px solid black;
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      border: 2px solid black;
      padding: 2px 5px;
    }
  }

  .pr-pass-control {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > :nth-child(1) {
      margin: 10px 0;
    }
  }

  .pr-error {
    color: red;
  }
}

.pr-ts {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  p {
    text-align: left;
  }

  p:first-child {
    font-size: 1.25rem;
    font-weight: 800;
  }
}

.pr-res {
  padding-top: 1rem;
  text-align: start;

  & > p {
    font-size: 1.25rem;
    font-weight: 800;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

@media (width <= 500px) {
  .pr-wrapper > div {
    display: unset;
  }
}

@media (width <= 880px) {
  .pr {
    padding: 1rem 0% 0;
  }
}

.portal {
  position: absolute;
  height: 50px;
  width: 200px;
  background-color: aqua;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
