.pr-wrapper > div {
  display: flex;

  & > p {
    font-size: 1.25rem;
  }

  & > p:nth-child(2n + 1) {
    width: 20rem;
    /* font-family: Rubik-Semibold; */
    font-weight: bold;
    text-align: left;
  }
}

.pr-wrapper {
  padding: 1rem;
  border: 3px solid #1b1b1b80;
  border-radius: 20px;
}

.pr {
  padding: 1rem 20% 0;
  text-align: center;

  button {
    width: 12rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    background-color: rgb(97 161 153 / 10%);
    border: 1px solid #1b1b1b80;
    border-radius: 5px;

    &:hover {
      font-weight: 800;
      background-color: rgb(97 161 153 / 20%);
    }
  }
}

.pr-pass {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 10;
  padding: 20px 40px;
  background-color: white;
  border: 2px solid black;
  transform: translate(-50%, -50%);

  p {
    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      padding: 2px 5px;
      border: 2px solid black;
    }
  }

  .pr-pass-control {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > :nth-child(1) {
      margin: 10px 0;
    }
  }

  .pr-error {
    color: red;
  }
}

.pr-ts {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  p {
    text-align: left;
  }

  p:first-child {
    font-size: 1.25rem;
    font-weight: 800;
  }
}

.pr-res {
  padding-top: 1rem;
  text-align: start;

  & > p {
    font-size: 1.25rem;
    font-weight: 800;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

@media (width <= 500px) {
  .pr-wrapper > div {
    display: unset;
  }
}

@media (width <= 880px) {
  .pr {
    padding: 1rem 0% 0;
  }
}

.portal {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 200px;
  height: 50px;
  background-color: aqua;
  transform: translate(-50%, -50%);
}
