.addlink-container {
  .addlink {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    input {
      width: 60%;
      padding: 0 18px;
      font-size: 1.3rem;
      border: var(--main-border);
      border-radius: 6px;
    }

    .btn-elem {
      margin: 0 0 0 2rem;
    }
  }

  .addlink-errors-filling {
    padding-top: 0.2rem;
    color: rgb(206 66 124);
  }

  .addlink-message {
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .addlink-buttons {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
  }
}

.edit-t {
  textarea {
    padding: 0.3rem 0 0.3rem 0.3rem;
    font-size: 1.2rem;
    border: var(--main-border);
    background-color: var(--input-bg-color);
    margin-bottom: 5px;
  }

  .edit-t-editors {
    /* div {
      position: relative;
      p {
        position: absolute;
        top: 5px;
        left: 95%;
        font-weight: bold;
        cursor: pointer;
      } */

    div {
      display: flex;
      textarea {
        width: 350px;
      }
      p {
        margin: auto 0;
        cursor: pointer;
      }
    }

    button {
      padding: 0.2rem;
      border: var(--main-border);
      border-radius: 5px;
      &:hover {
        font-weight: bold;
      }
    }
  }

  .edit-t-top {
    padding-top: 1rem;

    label {
      input {
        min-height: 2rem;
        padding-left: 0.3rem;
        font-size: 1rem;
        font-weight: 900;
        border: var(--main-border);
      }

      input[type='text'] {
        width: 100%;
      }
    }
  }

  .edit-q-container {
    padding: 1rem;
    margin-top: 2rem;
    border: 2px solid var(--main-border-color);
    background-color: var(--edit-question-bg-color);

    textarea {
      width: 100%;
    }

    .edit-q-container-source {
      display: flex;
      p {
        cursor: pointer;
        margin: auto 0;
      }
    }
    .edit-q-container-add-source {
      padding: 0.2rem;
      border: var(--main-border);
      border-radius: 5px;
      &:hover {
        font-weight: bold;
      }
    }

    & > label {
      p {
        padding-top: 0.7rem;
      }
    }

    .edit-q-numbers {
      display: flex;

      label {
        display: flex;

        p {
          margin: auto 0;
        }

        input {
          width: 5rem;
          min-height: 2rem;
          padding-left: 0.5rem;
          font-size: 1.5rem;
          text-align: center;
          border: var(--main-border);
        }
      }

      & :nth-child(2) {
        margin-left: 1rem;
      }

      & :nth-child(3) {
        margin-left: auto;
      }

      .btn-elem {
        .btn.back {
          color: black;
        }
      }
    }
  }

  .edit-q-container:has(.back) {
    background-color: var(--edit-question-bg-color-del);

    input {
      background-color: var(--main-bg-color);
    }

    .edit-q-container-source {
      p {
        z-index: -1;
      }
    }

    textarea {
      background-color: var(--main-bg-color);
    }
  }
}

.addlink-instruction {
  max-width: 900px;
  margin: 1rem auto;
}

.react-aria-DateField {
  color: var(--text-color);
}

.react-aria-DateInput {
  display: flex;
  padding: 4px 6px;
  border: var(--main-border);
  background: var(--field-background);
  width: fit-content;
  white-space: nowrap;
  forced-color-adjust: none;

  &[data-focus-within] {
    /* outline: 2px solid var(--main-border-color); */
    outline-offset: -1px;
  }
}

.react-aria-DateSegment {
  padding: 0 2px;
  text-align: end;
  color: var(--p-color);
  font-weight: bold;

  &[data-type='literal'] {
    padding: 0;
  }

  &[data-placeholder] {
    font-style: italic;
  }

  &:focus {
    color: blueviolet;
    outline: none;
    border-radius: 4px;
    caret-color: transparent;
  }
}
