@import 'nullstyle';
@import 'variables';

body {
  font-family: var(--font-stack);
  background-color: var(--main-bg-color);
  -webkit-tap-highlight-color: transparent;
  transition: background-color 400ms linear;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--p-color);
  word-spacing: 0.1rem;

  &::selection {
    background-color: var(--bg-grey);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
}

h1 {
  font-family: Rubik-Semibold, sans-serif;
  font-size: 2.125rem;
}

h2 {
  font-family: Rubik-Semibold, sans-serif;
  font-size: 1.6rem;
}

h3,
h4 {
  font-size: 1.3rem;
}

input {
  background-color: #dfdfdf;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    flex: 1;
    margin: 3%;
  }
}
