.profile {
  padding: 1rem 20% 0;

  .profile-wrapper {
    padding: 1rem;
    border: 3px solid var(--border-color-quiet);
    border-radius: 20px;

    .user-info {
      div {
        display: flex;

        p:first-child {
          font-weight: bold;
          width: 200px;
        }
      }
    }

    .change-pass-text {
      display: flex;
      p {
        color: rgb(118, 118, 197);
        cursor: pointer;
      }
    }

    .profile-pass {
      position: absolute;
      top: calc(50% - 160px);
      left: calc(50% - 125px);
      padding: 20px 40px;
      background-color: var(--main-bg-color);
      border: 2px solid var(--main-border-color);
      width: 285px;
      height: fit-content;

      p {
        text-align: center;
      }

      label {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          padding: 2px 5px;
          border: 2px solid black;
        }
      }

      .profile-pass-control {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > :nth-child(1) {
          margin: 10px 0;
        }
      }

      .profile-pass-error {
        color: red;
      }

      .profile-pass-success {
        color: green;
      }
    }

    .profile-results {
      padding-top: 1rem;

      a {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        border-bottom: 2px solid var(--border-color-quiet);

        p:last-child {
          width: 85px;
        }

        &:hover {
          background-color: var(--a-main-list-bg-color);
        }
      }

      & > p {
        margin-left: 10px;
      }
    }

    .profile-adds {
      padding-top: 1rem;

      a {
        display: flex;
        margin-left: 10px;
        border-bottom: 2px solid var(--border-color-quiet);

        &:hover {
          background-color: var(--a-main-list-bg-color);
        }
      }
    }
  }
}

@media (width <= 500px) {
  .profile-wrapper > div {
    display: unset;
  }
}

@media (width <= 880px) {
  .profile {
    padding: 1rem 0% 0;
  }
}
