.container {
	padding: 1rem 20% 0;
}

.profile {
	padding: 1rem;
	border: 3px solid var(--border-color-quiet);
	border-radius: 20px;
}

.userInfo {
	div {
		display: flex;

		p:first-child {
			width: 200px;
			font-weight: bold;
		}
	}
}

/* Смена пароля в модальном окне */
.changePass {
	margin: 0.5rem 0;
}

.modal {
	width: 285px;
	padding: 20px 40px;

	p {
		text-align: center;
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;

		input {
			padding: 2px 5px;
			border: 2px solid black;
		}
	}
}

.control {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > :nth-child(1) {
		margin: 10px 0;
	}
}

.error {
	color: red;
}

.success {
	color: green;
}

/* секция с результатами */
.results {
	padding-top: 1rem;

	a {
		display: flex;
		justify-content: space-between;
		margin-left: 10px;
		border-bottom: 2px solid var(--border-color-quiet);

		&:hover {
			background-color: var(--a-main-list-bg-color);
		}

		p:last-child {
			display: flex;
			align-items: center;
			width: 85px;
		}
	}
}

/* секция с добавленными турнирами */
.adds {
	padding-top: 1rem;

	a {
		display: flex;
		margin-left: 10px;
	}

	& > div {
		display: flex;
		justify-content: space-between;
		margin-left: 10px;
		border-bottom: 2px solid var(--border-color-quiet);

		&:hover {
			background-color: var(--a-main-list-bg-color);
		}

		& > p {
			display: flex;
			align-items: center;
			font-size: 0.7rem;
		}
	}
}

@media (width <= 500px) {
	.profile > div {
		display: unset;
	}
}

@media (width <= 880px) {
	.container {
		padding: 1rem 0% 0;
	}
}
