.playmode {
	& > h2 {
		padding-bottom: 0.4rem;
		text-align: center;
	}
}

.errorTournamentLoading {
	margin-top: 1rem;
	color: red;
	text-align: center;
}

.start {
	h2 {
		text-align: center;
	}

	.startInfo {
		display: flex;
		justify-content: center;
		padding: 0.5rem 0;
		gap: 1rem;
	}

	.startEditors {
		display: flex;
		justify-content: center;
		gap: 1rem;

		& p:first-child {
			font-weight: 800;
		}
	}

	.startButton {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}
}

.timerOptions {
	flex-direction: column;
	justify-self: center;
	width: fit-content;
	padding: 1rem;
	margin-top: 1rem;
	border: 2px solid var(--border-color-quiet);
	border-radius: 8px;

	.checkbox {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0.7rem;
		color: var(--p-color);

		.checkboxIcon {
			display: flex;
			align-items: center;
			justify-content: center;

			.checkboxIconCircle {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 22px;
				height: 22px;
				cursor: pointer;
				border: 2px solid gray;
				border-radius: 5px;

				img {
					width: 22px;
				}
			}
		}

		.checkboxText {
			padding: unset;
			padding-left: 0.5rem;
			font-weight: 800;
		}
	}

	.numberField {
		display: flex;
		padding-top: 0.5rem;

		.group {
			min-width: 6.9rem;
			max-height: fit-content;
			border-radius: 4px;

			.groupInput {
				width: 2.3rem;
				font-size: 1.4rem;
				text-align: center;
				border-top: 1px solid rgb(0 0 0);
				border-bottom: 1px solid rgb(0 0 0);
			}

			&[data-focus-within] {
				outline: 1px solid rgb(120 91 201);

				.react-aria-Input,
				.react-aria-Button {
					border-color: rgb(120 91 201);
				}
			}

			.groupButton {
				width: 2.3rem;
				font-size: 1.4rem;
				border: 1px solid rgb(0 0 0);
				border-radius: 4px;
				background-color: var(--input-bg-color);

				&[slot="decrement"] {
					border-start-end-radius: 0;
					border-end-end-radius: 0;
				}

				&[slot="increment"] {
					border-start-start-radius: 0;
					border-end-start-radius: 0;
				}
			}
		}

		.numberFieldText {
			padding: unset;
			padding-left: 0.5rem;
		}
	}
}

.progressBar {
	display: flex;
	align-items: stretch;
	height: 1.5rem;
	margin-top: 0.5rem;

	.progressBarItem {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		background: linear-gradient(to right, rgb(97 161 153 / 90%) 50%, var(--main-bg-color) 50%);
		background-position: right bottom;
		background-size: 200% 100%;
		border: var(--main-border);

		&:first-child {
			border-radius: 5px 0 0 5px;
		}

		&:last-child {
			border-radius: 0 5px 5px 0;
		}

		&.fill {
			background-position: left bottom;
			transition: all 0.5s ease-out;

			p {
				color: white;
			}
		}

		.progressBarItemNumber {
			padding-top: 1px;
			font-size: 1.2rem;
			line-height: unset;
		}
	}
}

.question {
	max-width: 700px;
	padding-top: 1rem;
	margin: 0 auto;

	.timerContainer {
		display: flex;
		justify-content: center;
		gap: 1rem;
		padding-bottom: 1rem;

		.timer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 0.5rem;
			border: 3px solid rgb(97 161 153 / 50%);
			border-radius: 5px;

			.timerText {
				font-size: 1rem;
				width: 200px;
				white-space: nowrap;
				font-weight: 800;
			}

			.timerCount {
				font-weight: bold;
				min-width: 2rem;
				text-align: end;
			}
		}
	}

	.buttonsBlock {
		padding-bottom: 1rem;
		text-align: center;

		.buttonBlockText {
			display: flex;
			justify-content: center;
			gap: 1rem;

			p {
				margin: auto 0;
			}
		}
	}
}

.resblock {
	.resblockText {
		padding-top: 0.25rem;
		text-align: center;

		span {
			padding-left: 1rem;
			font-weight: 800;
		}
	}
}

.tourEnd {
	text-align: center;
	margin-top: 0.5rem;

	.tourEndButton {
		margin-top: 0.5rem;
	}
}

.end {
	text-align: center;

	.endButton {
		margin-top: 0.5rem;
	}

	.endText {
		padding-top: 0.5rem;
	}
}

@media (width <= 415px) {
	.question {
		.timerContainer {
			.timer {
				.timerText {
					width: 160px;
					font-size: 0.8rem;
				}
			}
		}

		.buttonsBlock {
			.buttonBlockText {
				gap: 0.5rem;
				p {
					font-size: 1rem;
				}
			}
		}
	}

	.timerButton {
		font-size: 0.8rem;
	}
}
