.playmode {
  & > h2 {
    padding-bottom: 0.4rem;
    text-align: center;
  }

  .pm-error {
    margin-top: 1rem;
    color: red;
    text-align: center;
  }

  .progress-bar {
    display: flex;
    align-items: stretch;
    height: 1.5rem;
    margin-top: 0.5rem;

    .progress-bar-item {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right, rgb(97 161 153 / 90%) 50%, var(--main-bg-color) 50%);
      background-position: right bottom;
      background-size: 200% 100%;
      border: var(--main-border);

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      &.fill {
        background-position: left bottom;
        transition: all 0.5s ease-out;

        p {
          color: white;
        }
      }

      .progress-bar-item-number {
        padding-top: 1px;
        font-size: 1.2rem;
        line-height: unset;
      }
    }
  }
}

.pm-start-info {
  h2 {
    text-align: center;
  }

  & > div {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  & > div:nth-child(1) {
    p {
      padding: 0 1rem;
    }
  }

  & > div:nth-child(2) {
    p {
      padding: 0 0.5rem;
    }
  }

  & > div:nth-child(4) {
    margin-top: 1rem;

    button {
      width: 300px;
      height: 30px;
      font-size: larger;
      border: 1px solid #1b1b1b80;
      border-radius: 5px;

      &:hover {
        font-weight: 800;
        background-color: rgb(97 161 153 / 20%);
      }
    }
  }
}

.pm-timer-options {
  flex-direction: column;
  justify-self: center;
  width: fit-content;
  padding: 1rem;
  margin-top: 1rem;
  border: 2px solid var(--border-color-quiet);
  border-radius: 8px;

  .react-aria-Checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7rem;
    color: var(--p-color);

    .pm-info-checkbox-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .pm-info-checkbox-icon-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        cursor: pointer;
        border: 2px solid gray;
        border-radius: 5px;

        img {
          width: 22px;
        }
      }
    }

    p {
      padding-left: 0.5rem;
      font-weight: 800;
    }
  }

  .react-aria-NumberField {
    display: flex;
    padding-top: 0.5rem;

    .react-aria-Group {
      min-width: 6.9rem;
      max-height: fit-content;
      border-radius: 4px;

      .react-aria-Input {
        width: 2.3rem;
        font-size: 1.4rem;
        text-align: center;
        border-top: 1px solid rgb(0 0 0);
        border-bottom: 1px solid rgb(0 0 0);
      }

      &[data-focus-within] {
        outline: 1px solid rgb(120 91 201);

        .react-aria-Input,
        .react-aria-Button {
          border-color: rgb(120 91 201);
        }
      }

      .react-aria-Button {
        width: 2.3rem;
        font-size: 1.4rem;
        border: 1px solid rgb(0 0 0);
        border-radius: 4px;

        &[slot='decrement'] {
          border-start-end-radius: 0;
          border-end-end-radius: 0;
        }

        &[slot='increment'] {
          border-start-start-radius: 0;
          border-end-start-radius: 0;
        }
      }
    }

    p {
      padding: unset;
      padding-left: 0.5rem;
    }
  }
}

.timer {
  padding: 1rem 0;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 17rem;
    height: 3rem;
    padding: 0 0.5rem;
    margin: 0 auto;
    border: 3px solid rgb(97 161 153 / 50%);
    border-radius: 5px;

    p {
      font-size: 1rem;
      font-weight: 800;
    }
  }
}

.pmq {
  max-width: 700px;
  padding-top: 1rem;
  margin: 0 auto;

  .buttons-block {
    padding-bottom: 1rem;

    .buttons-block-answer {
      display: flex;
      justify-content: center;
      gap: 1rem;

      p {
        margin: auto 0;
      }

      .btn-elem {
        margin-left: 1rem;
      }
    }
  }

  p {
    font-size: 1.25rem;
    white-space: pre-line;
  }

  h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .answer {
    p {
      padding: 0.2rem 0;
      word-wrap: break-word;

      span {
        font-weight: 800;
      }
    }

    & > p:first-child {
      font-weight: bold;
      color: #45877e;

      span {
        color: var(--p-color);
      }
    }

    .answer-source-many {
      font-weight: 800;
    }
  }

  .pmq-choice-btn {
    display: flex;
    justify-content: center;

    button:first-child {
      margin-right: 1rem;
    }

    button:last-child {
      margin-left: 1rem;
    }
  }

  .pmq-is-answered {
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
  }

  & > .btn-elem {
    margin-top: 1.2rem;
  }

  .question-add {
    padding-top: 0.5rem;

    & > p {
      padding-left: 0.5rem;
      color: rgb(87 85 85);
    }

    & div {
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      img {
        max-width: 60%;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }

  .message-to-q {
    text-align: center;
  }
}

.resblock {
  p {
    padding-top: 0.7rem;
    text-align: center;

    span {
      padding-left: 1rem;
      font-weight: 800;
    }
  }
}

.tour-end {
  .btn-elem {
    padding-top: 0.8rem;
  }
}

.end-tournament {
  .btn-elem {
    padding-top: 0.8rem;
  }

  & > p {
    padding-top: 0.5rem;
    text-align: center;
  }
}
