.wrapper {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.container {
	display: flex;
	justify-content: center;
	width: 22rem;
	border: 3px solid var(--main-border-color);
	border-radius: 2rem;
}

.entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 1rem 0;
}

.switch {
	color: rgb(76 36 206);
	cursor: pointer;
}

.img {
	width: 50%;
}

.form {
	width: 100%;
	margin-top: 0.5rem;

	.formInput {
		padding-top: 0.5rem;

		label {
			font-size: 0.9rem;
			font-weight: bold;
		}

		input {
			width: 100%;
			padding: 0.2rem 0 0.2rem 0.3rem;
			font-size: 1.1rem;
			border: var(--main-border);
			box-shadow: none;
		}
	}

	.formButton {
		margin: 0.5rem 0;
		text-align: center;
	}
}

.tooltip {
	span {
		color: antiquewhite;
	}
}

.error {
	display: flex;
	margin-top: 0.5rem;
	background-color: rgb(180 136 136 / 30%);

	p {
		width: 100%;
		padding-left: 0.4rem;
	}
}

.errorBlock {
	width: 1rem;
	background-color: crimson;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgb(6 3 3 / 50%);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	transform: translate(-50%, -50%);
}

.modalText {
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 20%;
	background-color: white;
	border: 3px solid black;
	border-radius: 10px;

	h2,
	p {
		padding: 0.25rem 0;
		text-align: center;
	}
}

@media (width <= 800px) {
	.modal {
		h2 {
			font-size: 1.2rem;
		}
	}
}
