@import url("nullstyle");
@import url("variables");

body {
	font-family: var(--font-stack);
	background-color: var(--main-bg-color);
	-webkit-tap-highlight-color: transparent;
	transition: background-color 400ms linear;
}

p {
	font-size: 1.125rem;
	line-height: 1.5;
	color: var(--p-color);
	text-wrap: pretty;
	word-spacing: 0.1rem;
	white-space: pre-wrap;

	&::selection {
		background-color: var(--bg-grey);
	}
}

span {
	font-size: 1rem;
	line-height: 1.5;
	color: var(--p-color);
}

h1,
h2,
h3,
h4,
h5,
h6,label {
	color: var(--h-color);
	text-wrap: balance;
}

h1 {
	font-family: Rubik-Semibold, sans-serif;
	font-size: 2rem;
}

h2 {
	font-family: Rubik-Semibold, sans-serif;
	font-size: 1.25rem;
}

h3,
h4 {
	font-size: 1.125rem;
}

input {
	background-color: var(--input-bg-color);
	font-family: var(--font-stack);
}

button {
	background-color: var(--main-bg-color);
	font-family: var(--font-stack);
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;

	main {
		flex: 1;
		margin: 3%;
	}
}
