@font-face {
	font-family: Rubik-Regular;
	src: url("Fonts/Rubik-Regular.woff2");
}

@font-face {
	font-family: Rubik-Medium;
	src: url("Fonts/Rubik-Medium.woff2");
}

html {
	--font-stack: "Rubik-Regular", system-ui;
	--main-border-color: #0d1117;
	--border-color-quiet: #a5aab0;
	--main-bg-color: #f8f8f8;
	--main-border: 1px solid var(--main-border-color);
	--border-quiet: 1px solid var(--border-color-quiet);
	--bg-grey: rgb(27 27 27 / 40%);
	--external-link: #0645ad;
	--external-link-hover: #931af1;
	--p-color: #222427;
	--p-color-reversed: #a9b0ba;
	--h-color: #000;
	--a-main-list-color: #104a37;
	--a-main-list-bg-color: #cadcda;
	--bg-hover-pm-table: #cde2df;
	--nav-text-color: #466176;
	--nav-text-color-hover: #162734;
	--input-bg-color: #f8f8f8;
	--edit-question-bg-color: #f8f8f8;
	--edit-question-bg-color-del: #a5a5a6;
	--banner-gradient: linear-gradient(
		90deg,
		rgb(222 212 241 / 100%) 0%,
		rgb(241 241 212 / 100%) 100%
	);
}

html[data-theme="dark"] {
	--main-bg-color: #0d1117;
	--main-border-color: #939ca4b3;
	--border-color-quiet: #333734;
	--main-border: 1px solid var(--main-border-color);
	--bg-hover-pm-table: #375753;
	--a-main-list-bg-color: #2b2b2b;
	--p-color: #a9b0ba;
	--p-color-reversed: #222427;
	--h-color: #bfc7d3;
	--a-main-list-color: #527d6e;
	--nav-text-color: #3a6a8e;
	--nav-text-color-hover: #4c8fc2;
	--input-bg-color: #a8a9ae;
	--edit-question-bg-color: #353131;
	--edit-question-bg-color-del: #614b4b;
	--banner-gradient: linear-gradient(90deg, rgb(78 71 130 / 100%) 0%, rgb(46 56 81 / 100%) 100%);
}
