.question {
  margin: 1rem 0;
  border: 2px solid var(--main-border-color);
  border-radius: 10px;
  overflow: hidden;

  p {
    font-size: 1.25rem;
  }

  .question-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: rgb(173 216 230 / 40%);
    /* border-radius: 10px 10px 0px 0px; */
    border-bottom: var(--main-border);

    h3 {
      font-weight: 800;
    }

    a {
      padding-left: 0.5rem;
      font-size: 1.25rem;
      color: var(--p-color);

      &:hover {
        font-weight: bold;
      }
    }
  }

  .question-text {
    padding: 0.5rem;

    p {
      padding: 0.25rem 0;
    }
  }

  .question-add {
    padding-top: 0.5rem;

    & > p {
      padding-left: 0.5rem;
      color: rgb(87 85 85);
    }

    & div {
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      img {
        max-width: 60%;
      }

      p {
        padding-left: 0.5rem;
        font-size: 1.25rem;
      }
    }
  }

  h4 {
    padding-left: 0.5rem;
  }

  .answer {
    padding: 0.25rem 0.5rem;

    p {
      padding: 0.25rem 0;
      word-wrap: break-word;

      span {
        font-weight: bold;
      }
    }

    & > p:first-child {
      font-weight: bold;
      color: #45877e;

      span {
        color: var(--p-color);
      }
    }

    .answer-source-one {
      overflow-x: auto;
    }

    div {
      & p:first-child {
        font-weight: bold;
      }
      .answer-source-many {
        & ~ p {
          padding-left: 0.5rem;
        }
      }
    }
  }
}

.ans-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  cursor: pointer;
  border-top: var(--main-border);

  .ans-arrow-o {
    color: rgb(109 85 98);
    transition: all 0.25s;
    transform: rotate(180deg);
  }

  .ans-arrow-c {
    color: rgb(109 85 98);
    transition: all 0.5s;
    transform: rotate(0deg);
  }

  & div {
    width: 1rem;
    margin-left: 2rem;

    .arrow {
      transition: all 1s;

      &.o {
        transform: rotate(180deg);
      }
    }
  }
}

.ans {
  max-height: 1800px;
  overflow: hidden;
  transition: max-height 0.5s;

  &.close {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;
  }
}

@media (width <= 600px) {
  .question {
    .question-header {
      padding: 0.5rem;

      h3 {
        font-size: 1rem;
      }

      a {
        display: flex;
        align-items: center;
        font-size: 1rem;
      }
    }
  }
}
