.tournament__header {
  h3 {
    padding: 1rem 0;
    font-weight: bold;
    span {
      font-weight: normal;
    }
  }
  .tournament__header-t {
    display: flex;
    padding-bottom: 1rem;
    p {
      padding-left: 2rem;
      font-size: 1.25rem;
      margin-top: auto;
    }
  }
  .tournament__header-m {
    display: flex;
    h3:nth-child(n + 2) {
      padding-left: 3rem;
    }
  }
}

.tournament__content {
  .tournament__content_header {
    // display: flex;
    .tournament__content_tours {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      margin-left: -20px;
      p {
        padding: 0rem 0.5rem;
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  .question {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .tournament__content {
    .tournament__content_header {
      display: unset;
      .tournament__content_tours {
        margin-left: unset;
      }
    }
  }
}

.question-enter {
  opacity: 0;
  transform: scale(0.9) translateY(5rem);
}
.question-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 400ms ease-in-out;
}
