.result-table {
  display: flex;
  flex-direction: column;
  align-items: center;

  .result-table-tour {
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;

    .result-table-el:first-child {
      border-left: 2px solid var(--border-color-quiet);
    }

    .result-table-el:last-child {
      border-right: 2px solid var(--border-color-quiet);
    }

    .result-table-el {
      color: var(--p-color);
      cursor: pointer;
      border-top: 2px solid var(--border-color-quiet);
      border-right: 2px solid var(--border-color-quiet);
      border-bottom: 2px solid var(--border-color-quiet);

      &:hover {
        font-weight: bold;
        background-color: var(--bg-hover-pm-table);
      }

      div:first-child {
        display: table-cell;
        width: 2rem;
        height: 2rem;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        border-bottom: 2px solid var(--border-color-quiet);
      }

      div:last-child {
        width: 2rem;
        height: 2rem;

        img {
          width: 2rem;
        }
      }
    }
  }

  .question {
    max-width: 800px;
  }
}
