.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  .modal-content {
    min-width: 300px;
    min-height: 150px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;

    animation-name: openModal;
    animation-duration: 500ms;
  }
}

/* анимация открытия модального окна с keyframe */
@keyframes openModal {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
