.question {
	margin: 1rem 0;
	overflow: hidden;
	border: 2px solid var(--main-border-color);
	border-radius: 10px;
	width: min(800px, 100%);
}

.questionHeader {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	background-color: rgb(173 216 230 / 40%);
	border-bottom: var(--main-border);

	h3 {
		font-weight: 800;
	}

	.questionNumber {
		min-width: 98px;
	}

	a {
		padding-left: 0.5rem;
		font-size: 1.25rem;
		color: var(--p-color);

		&:hover {
			font-weight: bold;
		}
	}
}

.questionText {
	padding: 0.5rem;
	p {
		padding: 0.25rem 0;
	}
}

/* Раздатка */

.razdatkaContainer {
	padding-top: 0.5rem;
	margin: 0.5rem;
	border: 2px solid rgb(87 85 85);
	border-radius: 0.5rem;

	& > p {
		padding-left: 0.5rem;
		color: rgb(87 85 85);
	}

	.razdatka {
		display: flex;
		justify-content: center;
		padding: 1rem 0;

		img {
			max-width: 60%;
		}

		p {
			padding: 0 0.5rem;
			font-size: 1.25rem;
		}
	}
}

/* АККОРДЕОН ОТВЕТА */

.disclosure {
	border-top: var(--main-border);
	button {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0.5rem;
		transition: all 200ms;

		svg {
			color: var(--p-color);
			rotate: 0deg;
			transition: rotate 200ms;
		}
	}

	&[data-expanded] button svg {
		rotate: -180deg;
	}

	.disclosurePanel {
		height: var(--disclosure-panel-height);
		transition: height 250ms;
		overflow: clip;
	}
}

/* ОТВЕТ */

.answer {
	padding: 0 0.5rem;

	p {
		padding: 0.25rem 0;
		word-wrap: break-word;

		span {
			font-weight: bold;
		}
	}

	& .answerText {
		font-weight: bold;
		color: #45877e;
	}
}

.answerSourceOne {
	overflow-x: auto;
}

.answerSourceMany {
	font-weight: bold;

	& ~ p {
		padding-left: 0.5rem;
		overflow-x: auto;
	}
}

@media (width <= 600px) {
	.questionHeader {
		padding: 0.5rem;

		h3 {
			font-size: 1rem;
		}

		a {
			display: flex;
			align-items: center;
			font-size: 1rem;
		}
	}
}
