.container {
	width: 100%;
	padding: 0.5rem;
	margin: 1rem 0;
	border: 2px solid rgb(27 27 27 / 20%);
	border-radius: 10px;
	animation: skeleton 1s ease infinite alternate;
}

.header {
	width: 10rem;
	height: 1.5rem;
	margin: 0.5rem 0;
	background-color: rgb(128 128 128 / 80%);
}

.line {
	height: 1.2rem;
	margin: 0.25rem 0;
	background-color: rgb(128 128 128 / 80%);
}

.shortLine {
	width: 5rem;
	height: 1.5rem;
	margin: 0.25rem 0;
	background-color: rgb(128 128 128 / 80%);
}

@keyframes skeleton {
	to {
		opacity: 0.2;
	}
}
