footer {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 2px solid var(--border-color-quiet);

  .footer-icons {
    display: flex;

    svg {
      fill: var(--p-color);
    }

    div,
    a {
      display: flex;
      height: 2.5rem;
      margin: 1rem;

      p {
        padding-left: 0.3rem;
        margin: auto 0;
      }
    }
  }
}

footer.footer-hide {
  display: none;
}

@media (width <= 340px) {
  footer {
    .footer-icons {
      div {
        margin: 0.5rem 0.3rem;
      }
    }
  }
}
