.about {
  padding: 0 6%;

  /* a {
    color: var(--external-link);

    &:visited {
      color: var(--external-link);
    }
  } */

  h2 {
    padding: 0.25rem 0 0;
    text-align: left;
  }

  p {
    padding: 0.5rem 0;
    font-size: 1.25rem;
    line-height: 1.9rem;
  }

  .about-author {
    display: flex;
    padding-top: 0.5rem;

    img {
      width: 250px;
      height: 310px;
    }

    p {
      padding-left: 1rem;
    }
  }
}

@media (width <= 800px) {
  .about-author {
    flex-direction: column;

    img {
      margin: 0 auto;
    }

    .about-info {
      p {
        padding: unset;
        padding-top: 0.5rem;
      }
    }
  }
}
