.tours {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-left: -20px;

  p {
    padding: 0 0.5rem;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}

.question {
  display: flex;
  justify-content: center;
}

@media (width <= 400px) {
  .tours {
    margin-left: unset;
  }
}
