.tournament-content {
  .tournament-content-header {
    .tournament-content-tours {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      margin-left: -20px;

      p {
        padding: 0 0.5rem;
        cursor: pointer;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

.tournament-content-qs-item {
  display: flex;
  justify-content: center;
}

@media (width <= 400px) {
  .tournament-content {
    .tournament-content-header {
      display: unset;

      .tournament-content-tours {
        margin-left: unset;
      }
    }
  }
}

.question-enter {
  opacity: 0;
  transform: scale(0.9) translateY(5rem);
}

.question-enter-active {
  opacity: 1;
  transition: all 400ms ease-in-out;
  transform: scale(1) translateY(0);
}
