.tours {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;

	p {
		padding: 0 0.5rem;
		cursor: pointer;

		&:hover {
			font-weight: bold;
		}
	}
}

.question {
	display: flex;
	justify-content: center;
}

.question-enter {
	opacity: 0;
	will-change: transform, opacity;
	transform: scale(0.8) translateY(5rem);
	animation: fadeInUp 0.4s forwards;
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

@media (width <= 450px) {
	.tours {
		p {
			font-size: 0.9rem;
			padding: 0.125rem 0.25rem;
		}
	}
}
