.question {
  border: 2px solid rgba(27, 27, 27, 1);
  margin: 1rem 0rem;
  border-radius: 10px;
  p {
    font-size: 1.25rem;
  }

  .question__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(27, 27, 27, 0.4);
    padding: 0.5rem;
    background-color: rgba(173, 216, 230, 0.4);
    a {
      padding-left: 0.5rem;
      font-size: 1.25rem;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .question__add {
    padding-top: 0.5rem;
    p {
      padding-left: 0.5rem;
    }
    .content {
      display: flex;
      justify-content: center;
      padding: 1rem 0rem;
      img {
        max-width: 60%;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
  .question__text {
    padding: 0.5rem;
    p {
      padding: 0.25rem 0;
    }
  }

  h4 {
    padding-left: 0.5rem;
  }

  .answer {
    padding: 0.25rem 0.5rem;
    & > p:first-child {
      color: #45877e;
      font-weight: bold;
      span {
        color: black;
      }
    }
    p {
      padding: 0.25rem 0rem;
      word-wrap: break-word;
      span {
        font-weight: bold;
      }
    }

    .answer__source_one {
      overflow-x: auto;
    }
    .answer__source_many {
      & ~ p {
        padding-left: 0.5rem;
      }
    }
  }
}
.ans__arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000;
  padding-right: 1rem;
  cursor: pointer;
  .test__o {
    color: rgb(109, 85, 98);
    transform: rotate(180deg);
    transition: all 0.5s;
  }
  .test__c {
    color: rgb(109, 85, 98);
    transform: rotate(0deg);
    transition: all 0.5s;
  }

  & div {
    width: 1rem;
    margin-left: 2rem;
    .arrow {
      transition: all 1s;

      &.o {
        transform: rotate(180deg);
      }
    }
  }
}

.ans {
  max-height: 1800px;
  overflow: hidden;
  transition: max-height 0.5s;

  &.close {
    max-height: 0;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .question {
    .question__header {
      h3 {
        font-size: 1rem;
      }
      padding: 0.5rem;
      a {
        display: flex;
        align-items: center;
        font-size: 1rem;
      }
    }
  }
}
